html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}


/* for all the inputs in the project */
input {
  position: absolute;
  transform: translate(-50%, -50%);
  outline: none;
  border: none;
}


/* for all the textareas in the project */
textarea {
  outline: none;
  resize: none;
  position: absolute;
  transform: translate(-50%, -50%);
}


/* for all the buttons in the project */
button {
  position: absolute;
  outline: none;
  transition-duration: 0.4s;
}


/* all the start screen buttons */
.startScreenButtons {
  width: 8.3%;
  height: 4%;
  top: 50%;
  background-color: indianred;
}

.startScreenButtons:hover{
  transform: scale(1.05);
  background-color: lightcoral;
}

#startGraphButton{
  left: 70%;
}

#startToxicitybutton {
  left: 45%;
}

#startQNAButton {
  left: 20%;
}


/* all the qna bot inputs */
.qnaInputs {
  background-color: pink;
  position: absolute;
  resize: none;
  font-size: 15px;
  color: blueviolet;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  opacity: 0.6;
  left: 50%;
  transform: translate(-50%, -50%);
}

#qnaUserPassage {
  width: 50%;
  height: 33.6%;
  top: 25%;
}

#qnaUserQuestion {
  width: 30%;
  height: 5%;
  top: 45%;
}


/* all the css for the toxicity bot */
#toxicityPassage {
  left: 50%;
  top: 27%;
  width: 30%;
  height: 20%;
  opacity: 60%;
  background-color: aliceblue;
  font-size: 15px;
  color: blueviolet;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

table{
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 70%;
  width: fit-content;
}

table, tr, th, td{
  outline: solid;
}

th, td {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

tr:nth-child(even){
  background-color: aliceblue;
}

th {
  background-color: rgb(182, 75, 75);
  opacity: 80%;
}

td {
  background: rgb(172, 55, 55);
  opacity: 80%;
  text-align: center;
}


/* all css for the answer buttons */
.answerbutton {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-color: blueviolet;
  width: 10%;
  height: 5%;
  left: 45%;
}

.answerbutton:hover{
  background-color: brown;
  transform: scale(1.05);
}

.answerbutton:active {
  transition-duration: 0s;
  background-color: rgb(175, 9, 9);
  transform: scale(0.95);
}

#qnaAnswerButton {
  top: 55%;
}

#toxicityAnswerButtion{
  top: 40%;
}

#graphAnswerButton{
  top: 25%;
}

/* This is all css for the graphing bot */

#graphingSwap {
  background-color: blanchedalmond;
  left: 80%;
  top: 60%;
}

#graphingSwap:hover{
  background-color: rgb(235, 158, 43);
  transform: scale(.95);
}


/* Plotify div */
div {
  position: absolute;
  left: 19%;
  top: 30%;
}

/* this is all the inputs for the graphing */
#userFunction {
  left: 50%;
  top: 15%;
  resize: none;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 30%;
  height: 3%;
  overflow: hidden;
  background-color: lightblue;
  opacity: 40%;
}

.graphInputNumbers {
  background-color: lightblue;
  opacity: 60%;
  top: 22.5%;
}

#userXMin {
  left: 20%;
}

#userYmin {
  left: 35%;
}

#userXMax {
  left: 50%;
}

#userYMax {
  left: 65%;
}

#userStep {
  left: 80%;
}

.userTable {
  background-color: lightpink;
  top: 12.5%;
  width: 15%;
  height: 3%;
  opacity: 50%;
}

#XTable {
  left: 40%;
}

#YTable {
  left: 60%;
}

/* The regression button changes */
.regressionButtons {
  background-color:blanchedalmond;
}

.regressionButtons:hover {
  background-color:rgb(238, 224, 98);
  transform: scale(1.05);
}

.regressionButtons:active {
  background-color:rgb(185, 174, 67);
  transform: scale(0.98);
}

#linearRegressionButton {
  left: 80%;
  top: 20%;
}

#quadraticRegressionButton {
  left: 80%;
  top: 25%;
}

#cubicRegressionButton {
  left: 80%;
  top: 30%;
}


/* for all the return buttons */
#returnButton {
  width: 10%;
  height: 4%;
  top: 7.5%;
  left: 5%;
  background-color: darkred;
}

#returnButton:hover {
  background-color: crimson;
  transform: scale(1.05);
}