html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

div {
  position: absolute;
  left: 21%;
  top: 30%;
}

button {
  position: absolute;
  outline: none;
  transition-duration: 0.4s;
}

table{
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 70%;
  width: fit-content;
}

table, tr, th, td{
  outline: solid;
}

th, td {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

tr:nth-child(even){
  background-color: aliceblue;
}

th {
  background-color: rgb(182, 75, 75);
  opacity: 80%;
}

td {
  background: rgb(172, 55, 55);
  opacity: 80%;
  text-align: center;
}

#toxicityPassage {
  resize: none;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 27%;
  width: 30%;
  height: 20%;
  opacity: 60%;
  background-color: aliceblue;
  font-size: 15px;
  color: blueviolet;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  outline: none;
}

.startScreenButtons {
  width: 8.3%;
  height: 4%;
  background-color: indianred;
}

.startScreenButtons:hover{
  transform: scale(1.05);
  background-color: lightcoral;
}

#startGraphButton{
  left: 55%;
  top: 40%;
}

#startToxicitybutton {
  left: 40%;
  top: 40%;
}

#startQNAButton {
  left: 25%;
  top: 40%;
}

#returnButton {
  width: 10%;
  height: 4%;
  top: 7.5%;
  left: 5%;
  background-color: darkred;
}

#returnButton:hover {
  background-color: crimson;
  transform: scale(1.05);
}

.qnaInputs {
  background-color: pink;
  position: absolute;
  outline: none;
  resize: none;
  font-size: 15px;
  color: blueviolet;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  opacity: 0.6;
  left: 50%;
  transform: translate(-50%, -50%);
}

#qnaUserPassage {
  width: 50%;
  height: 33.6%;
  top: 25%;
}

#qnaUserQuestion {
  width: 30%;
  height: 5%;
  top: 45%;
}

#qnaButton {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-color: blueviolet;
  width: 10%;
  height: 5%;
  left: 45%;
  top: 55%;
}

#qnaButton:hover{
  background-color: brown;
  transform: scale(1.05);
}

#qnaButton:active {
  transition-duration: 0s;
  background-color: rgb(175, 9, 9);
  transform: scale(0.95);
}

#toxicityButtion{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-color: blueviolet;
  width: 10%;
  height: 5%;
  left: 45%;
  top: 40%;
}

#toxicityButtion:hover{
  background-color: brown;
  transform: scale(1.05);
}

#toxicityButtion:active {
  transition-duration: 0s;
  background-color: rgb(175, 9, 9);
  transform: scale(0.95);
}

#graphButton{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-color: blueviolet;
  width: 10%;
  height: 5%;
  left: 45%;
  top: 25%;
}

#graphButton:hover{
  background-color: brown;
  transform: scale(1.05);
}

#graphButton:active {
  transition-duration: 0s;
  background-color: rgb(175, 9, 9);
  transform: scale(0.95);
}

#userFunction {
  left: 50%;
  top: 15%;
  resize: none;
  transform: translate(-50%, -50%);
  position: absolute;
  outline: none;
  width: 30%;
  height: 3%;
  overflow: hidden;
  background-color: lightblue;
  opacity: 40%;
}

.graphInputNumbers {
  position: absolute;
  background-color: lightblue;
  transform: translate(-50%, -50%);
  outline: none;
  overflow: hidden;
  opacity: 60%;
  border: none;
  top: 22.5%;
}

#userXMin {
  left: 20%;
}

#userYmin {
  left: 35%;
}

#userXMax {
  left: 50%;
}

#userYMax {
  left: 65%;
}

#userStep {
  left: 80%;
}